@media (min-width: 1400px) {
    .block-svg{
        margin-top: -12vw;
    }
}
@media (max-width: 768px) {
    .header-wrapper {
        position: relative;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff7526+0,ff8726+100 */
        background: #ff7526; /* Old browsers */
        background: -moz-linear-gradient(left, #ff7526 0%, #ff8726 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #ff7526 0%, #ff8726 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #ff7526 0%, #ff8726 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7526', endColorstr='#ff8726', GradientType=1); /* IE6-9 */
    }

    .logo-wrapper {
        background: transparent;
    }

    .logo-wrapper img {
        width: 45px;
        padding-top: 10px;
    }

    .logo-wrapper {
        width: 45px;
        height: 80px;
        text-align: left;
    }

    a.mbtn {
        font-size: 11px;
        color: #ff794b;
        z-index: 1;
        margin: 5px 1px;
    }

    .order-btn {
        padding-top: 22px;
        text-align: left;
        margin-left: 60px;
    }

    a.mbtn span {
        background: #ff7526; /* Old browsers */
        background: -moz-linear-gradient(left, #ff7526 0%, #ff8726 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #ff7526 0%, #ff8726 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #ff7526 0%, #ff8726 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        color: white;
        border: 2px solid white;
    }

    a.mbtn::before {
        background: white;
        color: #ff7526;
        border: 2px solid white;
    }

    .callback {
        display: inline-block;
        width: 29px;
        height: 40px;
        background: url("/img/callback.png") no-repeat center;
        background-size: contain;

    }

    .menu-btn {
        position: absolute;
        top: 32px;
        right: 12px;
        font-size: 10px;
        text-transform: uppercase;
        font-weight: bold;
        color: white;
    }

    .menu-btn:after {
        content: '...';
        display: block;
        color: white;
        font-size: 38px;
        line-height: 0px;
        position: absolute;
        top: 5px;
    }

    .img-1-wrapper img {
        margin-left: 0;
        margin-top: 0;
    }

    .img-1-wrapper .arrow-down {
        display: block;
        width: 50px;
        margin: 9vh auto 5px auto;
    }

    .img-1-wrapper p {
        margin: 0;
    }

    .img-1-wrapper {
        padding-top: 25px;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff863f+0,ff9340+100 */
        background: #ff863f; /* Old browsers */
        background: -moz-linear-gradient(-45deg, #ff863f 0%, #ff9340 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, #ff863f 0%, #ff9340 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #ff863f 0%, #ff9340 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff863f', endColorstr='#ff9340', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    }

    .slogan-1 {
        position: relative;
        top: 15px;
        left: 0;
        width: auto;
        text-align: center;
    }

    .slogan-1 p:first-of-type {
        font-size: 20px;
    }

    .slogan-1 p:last-of-type {
        font-size: 24px;
    }

    .content-wrapper {
        position: relative;
        margin-top: 0;
        background: white;
    }

    .block-svg {
        margin-top: 0;
    }

    .block-1-text {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        margin-top: 15vh;
        margin-bottom: 30vh;
    }

    .block-1-text p:nth-of-type(2) {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .road-wrapper .img1::after, .road-wrapper .img2::after, .road-wrapper .img3::after {
        display: none;
    }

    .road-wrapper {
        top: -8vw;
    }

    .road-wrapper .img2 {
        margin-top: 60vw;
    }

    .road-wrapper .img3 {
        margin-top: 28vh;
    }

    .block-2-text {
        position: absolute;
        top: 24vw;
        left: 10vw;
        width: 80%;
    }

    .block-2-text p:first-of-type, .block-3-text p:first-of-type, .block-4-text p:first-of-type {
        font-size: 16px;
    }

    .block-2-text p:nth-of-type(2), .block-3-text p:nth-of-type(2), .block-4-text p:nth-of-type(2) {
        font-size: 12px;
    }

    .block-3-text {
        position: absolute;
        top: 110vw;
        left: 10vw;
        width: 80%;
    }

    .block-4-text {
        position: absolute;
        top: 186vw;
        left: 10vw;
        width: 80%;
    }

    .content-back {
        top: -100px;
    }

    .demo p:first-of-type {
        font-size: 20px;
    }

    .demo p:nth-of-type(2) {
        font-size: 12px;
    }

    .demo-img img{
        width: 95%;
    }

    .line::after {
        display: none;
    }

    .demo-img {
        height: auto;
    }

    .demo-img img:first-of-type {
        position: relative;
    }

    .line {
        display: block;
        padding-top: 15px;
        text-align: center;
    }

    .demo{
        margin-top: 15px;
    }

    h2, .h2 {
        font-size: 18px;
    }

    .panel-group .panel {
        border-radius: 0;
    }



    .panel-heading {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

    #headingOne{
        background: white;
        border: 3px solid #505050;
    }

    #headingTwo{
        background: #ff8421;
        border: 3px solid #ff8421;
        color: white;
    }

    #headingThree{
        background: #505050;
        border: 3px solid #505050;
        color: white;
    }

    .panel-group {
        margin-top: 20px;
    }
    
    .price .title{
        margin-top: 60px;
        color: #ff8421;
    }

    .block-5-text{
        font-size: 16px;
        width: 80%;
        top:22vw;
    }

    .block-5-text .form-control{
        display: inline-block;
        width: 75%;
    }

    #send{
        vertical-align: top;
    }

    footer ul {
        margin-top: 20px;
    }

    .footer {
        font-size: 11px;
        padding-top: 0;
        height: 160px;
    }

    footer li{
        margin-bottom: 10px;
    }

    footer li:nth-of-type(4){
        font-size: 11px;
        margin-left: 70px;
    }

    .foot-menu{
        width: 280px;
        margin: auto;
    }

    .social{
        width: 200px;
        margin: auto;
    }

    .social img {
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .buy-wrapper {
        text-align: center;
        width: 100%;
        margin-top: -3px;
    }

    .buy-1, .buy-2, .buy-3 {
        width: 100%;
        height: 410px;
    }

    .buy-2 {
        height: 425px;
    }

    .panel-body {
        padding: 0;
    }

    .buy-3 p:first-of-type, .buy-2 p:first-of-type {
        background: transparent;
        color: inherit;
    }

    .buy-wrapper p:first-of-type {
        text-transform: none;
        font-size: 16px;
        font-weight: 400;
    }

    .msg-wrapper {
        width: 90%;
    }

@media (min-width: 1400px) {
    .img-1-wrapper > img {
        width: 120%;
    }

    .slogan-1 {
        bottom: 320px;
        left: 59%;
    }

    .block-svg {
        margin-top: -11vw;
    }

    .block-svg .img_1 {
        top: -15vw;
    }

    .block-4-text {
        top: 83vw;
    }
}

@media (min-width: 1800px) {

    .block-svg {
        margin-top: -13vw;
    }

    .img-1-wrapper img {
        margin-left: -210px;
    }
}