@font-face {
    font-family: "Century Gothic";
    src: url("../font/CenturyGothicRegular.ttf");
    src: url("../font/CenturyGothicRegular.woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Century Gothic";
    src: url("../font/CenturyGothicBold.ttf");
    src: url("../font/CenturyGothicBold.woff");
    font-style: normal;
    font-weight: 800;
}

html {
    position: relative;
    min-height: 100%;
}

main, body {
    position: relative;
    z-index: -10;
    min-height: 100vh;
}

body {
    color: #3c3c3c;
    background: #f6f6f6;
    font-family: "Century Gothic", sans-serif;
    font-size: 16px;
    padding: -140px;
}

ul {
    padding: 0;
}

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 150px;
    background-color: #505050;
    padding-top: 30px;
    color: white;
}

.logo-wrapper {
    background: #ff8726;
    width: 90px;
    height: 100px;
    text-align: center;
    display: block;
}

.logo-wrapper img {
    width: 60px;
    padding-top: 5px;
}

.btn-orange {
    background: #ff8726;
    color: white;
}

.btn-orange {
    background: #ff8726;
    color: white;
}

.btn-orange:hover {
    background: white;
    color: #ff8726;
    border: 2px solid #ff8726;
}

.btn-black {
    background: #505050;
    color: white;
}

.btn-black:hover {
    background: white;
    color: #505050;
    border: 2px solid #505050;
}

.btn-w {
    border-radius: 0;
    text-transform: uppercase;
    border: 2px solid transparent;
    transition: color 1s, background 1s, border 1s;
    padding: 0;
}

a.btn-w {
    display: inline-block;
    text-decoration: none;
    color: #ff8726;
}

a.btn span {
    display: block;
    background: white;
    padding: 7px;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

.btn-orange-white {
    position: relative;
    color: black;
    transition:1s;
    overflow: hidden;
}

.btn-w::before {
    position: absolute;
    top: 0;
    left: 0;
    padding: 7px 7px;
    width: 100%;
    height: 100%;
    background: #ff8726;
    color: white;
    content: attr(data-hover);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: translateX(-40%);
    z-index: -1;
}

.btn:hover::before, .btn:focus::before {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    transform: translateX(0%);
}

a.btn-orange span {
    display: block;
    background: #ff8726;
    color: white;
}

a.btn-orange-white:hover span, a.btn-orange-white:focus span {
    -webkit-transform: translateX(120%);
    -moz-transform: translateX(120%);
    transform: translateX(120%);
}

.bold{
    font-weight: 800;
}

.btn:active{
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn:focus, .btn:active:focus{
    outline: none;
    outline-offset: 0;
    color: white;
}

.btn-sm {
    font-size: 14px;
}

.order-btn {
    padding-top: 30px;
}

.order-btn a.mbtn span{
    width: auto;
}

.img-1-wrapper {
    position: relative;
    z-index: -10;
}

.img-1-wrapper img {
    width: 100%;
    margin-left: -80px;
    margin-top: -50px;
}

.slogan-1 {
    position: absolute;
    bottom: 150px;
    left: 50%;
    width: 480px;
    text-align: center;
}

.slogan-1 p:first-of-type {
    font-size: 36px;
}

.slogan-1 p:last-of-type {
    font-size: 36px;
}

.slogan-1 .bold {
    font-weight: 800;
}

.slogan-1 img {
    width: auto;
    margin-top: 50px;
    margin-left: 0;
}

.block-1-text p:first-of-type {
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
}

.block-1-text p:first-of-type span:first-of-type, .block-1-text p:nth-of-type(2) {
    color: white;
}

.block-1-back, .block-2-back {
    position: relative;
}

.block-svg {
    margin-top: -8vw;
}

.block-svg svg, .block-svg2 svg {
    width: 100%;
}

.block-svg .img_1 {
    display: block;
    position: absolute;
    top: -14vw;
    left: 25vw;
    width: 70%;
}

.block-svg .img_2 {
    display: block;
    position: absolute;
    top: 31vw;
    left: 14vw;
    width: 30%;
    z-index: -9;
}

.block-svg .img_3 {
    display: block;
    position: absolute;
    top: 54vw;
    left: 64vw;
    width: 35%;
    z-index: -8;
}

.block-svg .img_4 {
    display: block;
    position: absolute;
    top: 109vw;
    left: 0vw;
    width: 37%;
    z-index: -9;
    transform: rotate(-4deg);
}

.block-1-text {
    position: absolute;
    top: 7vw;
    left: 13vw;
    text-align: center;
    width: 45vw;
}

.block-2-text, .block-3-text, .block-4-text {
    text-align: justify;
}

.block-2-text p:first-of-type, .block-3-text p:first-of-type, .block-4-text p:first-of-type {
    color: #ff8421;
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
}

.block-2-text {
    position: absolute;
    top: 39vw;
    left: 59vw;
    width: 35vw;
}

.block-3-text {
    position: absolute;
    top: 60vw;
    left: 7vw;
    width: 35vw;
}

.block-4-text {
    position: absolute;
    top: 85vw;
    left: 60vw;
    width: 35vw;
}

#svg_block_1 {
    position: relative;
    z-index: -9;
}

#svg_block_2 {
    position: relative;
    z-index: -9;
}

#svg_block_3 {
    position: relative;
    z-index: -8;
}

#svg_block_4 {
    position: relative;
    z-index: -8;
}

.block-3-content .text {
    position: relative;
    top: 55vw;
}

.rel {
    position: relative;
}

.content-wrapper {
    position: relative;
    margin-top: -10vw;
}

.content-back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: -9;
}

.demo-wrapper {
    margin-top: 19vw;
}

.demo p:first-of-type {
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ff8421;
}

.demo a {
    margin-top: 15px;
}

.demo-img {
    position: relative;
    height: 416px;
}

.demo-img img {
    display: block;
    position: absolute;
    top: 0;
}

.buy-wrapper {
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.buy-1, .buy-2, .buy-3 {
    display: inline-block;
    width: 320px;
    height: 520px;
    padding: 5px;
    vertical-align: middle;
}

.buy-2 {
    padding: 0;
    height: 584px;
    width: 330px;
    margin-left: -1vw;
    margin-right: -1vw;
}

.buy-3 {
    padding: 0;
}

.buy-2 p, .buy-3 p {
    padding: 5px 15px;
}

.buy-3 p:first-of-type {
    background: #505050;
    color: white;
}

.buy-wrapper p:first-of-type {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
}

.buy-2 p:first-of-type {
    color: white;
    background: #ff8521;;
}

.buy-1, .buy-3 {
    border: 2px solid #505050;
}

.buy-2 {
    position: relative;
    border: 2px solid #ff8521;
    background: #ffffff;
    z-index: 1;
}

.buy-wrapper ul {
    padding: 0 10px;
}

.buy-wrapper ul > li {
    list-style: none;
    border-bottom: 1px solid #505050;
    padding: 10px 5px;
}

.buy-1 p:nth-of-type(3), .buy-2 p:nth-of-type(3), .buy-3 p:nth-of-type(3) {
    font-size: 48px;
    font-weight: 800;
}

.buy-2 p:nth-of-type(3), .buy-3 p:nth-of-type(3) {
    color: #ff8521;
}

.buy-1 p:nth-of-type(3) span, .buy-2 p:nth-of-type(3) span, .buy-3 p:nth-of-type(3) span {
    font-size: 12px;
}

.buy-1 button, .buy-3 button {
    margin-top: 135px;
}

.buy-2 button, .buy-3 button {
    margin-top: 35px;
}

.buy-wrapper .topb {
    border-bottom: 2px solid #505050;
    margin: 0 12px;
}

.buy-2 .topb {
    border-bottom: 2px solid #ff8521;
}

.works {
    margin-top: 85px;
    margin-bottom: 70px;
}

.works > h2 > span {
    color: #ff8521;
}

.owl-carousel {
    width: 57%;
    margin: auto;
}

.block-svg2 {
    position: relative;
}

.block-5-text {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 15vw;
    width: 39vw;
    font-size: 24px;
    font-weight: 800;
    color: white;
}

.block-5-text label{
    margin-right: 5px;
}


.form-control {
    border-radius: 0;
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control:focus {
    webkit-box-shadow: none;
    box-shadow: none;
    border-color: #ff8521;
}

#send {
    display: inline-block;
    cursor: pointer;
}

#send img {
    width: 34px;
}

.logo-f img {
    height: 70px;
    margin-right: 5px;
}

.social img {
    height: 50px;
}

.copy {
    display: inline-block;
    vertical-align: middle;
}

.copy p {
    margin: 0;
}

.copy p:first-of-type {
    text-transform: uppercase;
}

.copy p:nth-of-type(2) {
    font-size: 12px;
}

footer ul {
    margin-top: 35px;
}

footer li {
    float: left;
    list-style: none;
    margin-left: 15px;
}

footer li a {
    color: white;
}

footer li a:hover {
    color: white;
}

.social img {
    margin-left: 10px;
    margin-top: 25px;
}

footer .copy2 {
    font-size: 14px;
    width: 190px;
    margin: auto;
}

.road-wrapper {
    position: absolute;
    top: 41vw;
    left: 0;
    right: 0;
    margin: auto;
    width: 70px;
}

.road-wrapper > div {
    width: 85px;
    height: 85px;
}

.road-wrapper .img1 {
    background: url("/img/universal.png") center no-repeat;
    background-size: contain;
}

.road-wrapper .img1::before, .road-wrapper .img2::before, .road-wrapper .img3::before{
    content: '';
    display: block;
    width: 85px;
    height: 85px;
    opacity: 0;
    transition: opacity 1s;
}

.road-wrapper .img1::before {
    background: url("/img/universal-o.png") center no-repeat;
    background-size: contain;
}

.road-wrapper .img1::after, .road-wrapper .img2::after{
    content: '';
    display: block;
    width: 3px;
    height: calc(17vw + 4px);
    background: #ff8521;
    margin-left: 49%;
    margin-top: -2px;
}

.road-wrapper .img3::after{
    position: relative;
    content: '';
    display: block;
    width: 3px;
    height: calc(28vw + 4px);
    border-left: 3px dotted #ff8521;
    margin-left: 49%;
    margin-top: -7px;
    z-index: -5;
}

.line{
    display: inline-block;
    position: relative;
}

.line::after{
    content: '';
    position: absolute;
    right: -10vw;
    top: 22px;
    display: block;
    width: 11vw;
    height: 3px;
    border-bottom: 3px dotted #ff8521;
    z-index: -2;
}

.road-wrapper .img2::before {
    background: url("/img/speed-o.png") center no-repeat;
    background-size: contain;
}

.road-wrapper .img3::before {
    background: url("/img/usability-o.png") center no-repeat;
    background-size: contain;
}

.img1.in::before, .img2.in::before, .img3.in::before{
    opacity: 1;
}

.road-wrapper .img2{
    background: url("/img/speed.png") center no-repeat;
    background-size: contain;
}

.road-wrapper .img3{
    background: url("/img/usability.png") center no-repeat;
    background-size: contain;
}

.road-wrapper .img2 {
    margin-top: 16vw;
}

.road-wrapper .img3 {
    margin-top: 17vw;
}

.road-wrapper img {
    width: 70px;
}

.msg-wrapper{
    display: none;
    position: absolute;
    top:3%;
    left: 0;
    right: 0;
    margin: auto;
    width: 400px;
    padding: 15px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff794b+0,ff9b4b+100 */
    background: #ff794b; /* Old browsers */
    background: -moz-linear-gradient(left,  #ff794b 0%, #ff9b4b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #ff794b 0%,#ff9b4b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #ff794b 0%,#ff9b4b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff794b', endColorstr='#ff9b4b',GradientType=1 ); /* IE6-9 */
    z-index: 10;
    overflow:hidden;
}

.msg-img{
    position: absolute;
    top: -33px;
    left: -65px;
    z-index: -5;
}

.msg-img img{
    height: 300px;
}

.msg-wrapper h2{
    margin-top: 100px;
    margin-bottom: 30px;
    color: white;
}
.item{
    width:80px;
}
.overlay{
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.close{
    font-size: 35px;
    font-weight: 400;
    text-shadow: none;
    opacity: .5;
    transform: rotate(45deg);
}

.menu-overlay{
    position: fixed;
    top:0;
    right: 0;
    width: 230px;
    height: 100%;
    background: white;
    z-index: 5;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfffc+0,ffffff+100 */
    background: #fcfffc; /* Old browsers */
    background: -moz-linear-gradient(left, rgba(252, 255, 252, 0.4) 0%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(252, 255, 252, 0.4) 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(252, 255, 252, 0.41) 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfffc', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
    opacity: 0;
    transition: 1s;
    transition-delay: 400ms;
}

.menu-overlay:hover{
    opacity: 1;
}

.menu-overlay.in{
    opacity: 1;
    transition: 1s;
    transition-delay: 100ms;
}

.menu-wrapper{
    position: fixed;
    top:50%;
    right: 30px;
    z-index: 5;
}

.menu-wrapper ul{
    list-style: none;
    text-align: right;
}

.menu-wrapper li{
    padding: 5px 0;
}

.menu-wrapper ul a{
    display: inline-block;
    width: 160px;
    color: white;
    opacity: 0;
    transition: 500ms;
    text-decoration: none;
    background: #505050;
    padding: 2px 27px 2px 12px;
    margin-right: -8px;
    font-size: 14px;
    transition: 1s;
}

.menu-wrapper ul a:hover{
    background: #ff8726;
}

.menu-wrapper .active{
    background: #ff8726;
}

.menu-wrapper ul:hover a:hover{
    color: white;
}

.menu-wrapper ul:hover a{
    color: white;
    text-decoration: none;
    opacity: 1;
}

.menu-wrapper .point{
    display: inline-block;
    width: 18px;
    height: 18px;
    background: white;
    border: 2px solid #ff794b;
    vertical-align: text-bottom;
    transform: rotate(46deg);
    transition: 1s;
}

.menu-wrapper ul:hover .point{
    border: 2px solid #505050;
}

.menu-wrapper ul li:hover .point{
    border: 2px solid #ff794b;
}

.menu-wrapper ul:hover .activep{
    border: 2px solid #ff8726;
}
.menu-wrapper .active~.point{
    background: #ff794b;
}
/*Кнопочки*/

a.mbtn:hover{
    color: white;
    cursor: pointer;
}

a.mbtn {
    overflow: hidden;
    margin: 0 15px;
}

a.mbtn {
    position: relative;
    display: inline-block;
    margin: 5px 5px;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-size: 16px;
}

a.mbtn::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    padding: 5px 10px;
    width: 100%;
    height: 100%;
    background: #fff;
    color: #ff8521;
    border: 2px solid #ff8521;
    content: attr(data-hover);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: translateX(-25%);
}

a.mbtn span {
    display: inline-block;
    padding: 5px 10px;
    background: #ff8521;
    border: 2px solid #ff8521;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
    float: right;
}

a.mbtn:hover::before, a.mbtn:focus::before {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    transform: translateX(0%);
}

a.mbtn:hover span, a.mbtn:focus span {
    -webkit-transform: translateX(101%);
    -moz-transform: translateX(101%);
    transform: translateX(101%);
}

a.mbtn.mbtn-white span{
    background: white;
    color: black;
}

a.mbtn.mbtn-white::before {
    background: #ff8521;
    color: white;
}

a.mbtn.mbtn-black span{
    border: 2px solid #505050;
    background: #505050;
    color: white;
}

a.mbtn.mbtn-black::before {
    border: 2px solid #505050;
    background: white;
    color: #505050;
}
















